<div class="row">
    <div class="column">
        <mat-card class="mat-card">
            <h3 class="h3">Medicine</h3>
            <img src="assets/pictures/medicine.jpg"  alt="Medicine"><br>
            <mat-expansion-panel class="expansion">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Shops
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem"><a routerLink="">Shop 1</a></mat-list-item>
                    <mat-list-item role="listitem">Shop 2</mat-list-item>
                    <mat-list-item role="listitem">Shop 3</mat-list-item>
                    <mat-list-item role="listitem">Shop 4</mat-list-item>
                    <mat-list-item role="listitem">Shop 5</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="mat-card">
            <h3 class="h3">Kirana</h3>
            <img src="assets/pictures/kirana.png"  alt="Kirana"><br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Shops
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">Shop 1</mat-list-item>
                    <mat-list-item role="listitem">Shop 2</mat-list-item>
                    <mat-list-item role="listitem">Shop 3</mat-list-item>
                    <mat-list-item role="listitem">Shop 4</mat-list-item>
                    <mat-list-item role="listitem">Shop 5</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="mat-card">
            <h3 class="h3">Clothing</h3>
            <img src="assets/pictures/clothing.png"  alt="Clothing"><br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Shops
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">Shop 1</mat-list-item>
                    <mat-list-item role="listitem">Shop 2</mat-list-item>
                    <mat-list-item role="listitem">Shop 3</mat-list-item>
                    <mat-list-item role="listitem">Shop 4</mat-list-item>
                    <mat-list-item role="listitem">Shop 5</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="mat-card">
            <h3 class="h3">Cosmetics</h3>
            <img src="assets/pictures/cosmetics.jpg"  alt="Cosmetics"><br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Shops
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">Shop 1</mat-list-item>
                    <mat-list-item role="listitem">Shop 2</mat-list-item>
                    <mat-list-item role="listitem">Shop 3</mat-list-item>
                    <mat-list-item role="listitem">Shop 4</mat-list-item>
                    <mat-list-item role="listitem">Shop 5</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-card>
    </div>

</div>