<div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sugar
          </mat-panel-title>
          <mat-panel-description>
           Sugar
          </mat-panel-description>
        </mat-expansion-panel-header>

    <div class="desc">
        <img src="assets/pictures/sugar.jpg">
        <p>  1 kg Packet<br>
             Best before 2 month of packing 
            
        </p>
    </div>
        <mat-action-row>
            <button mat-button color="primary" > Add to Cart </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Oil
          </mat-panel-title>
          <mat-panel-description>
             Bajaj Almond Drop Oil
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="desc">
            <img src="assets/pictures/oil.jpg">
            <p>  500ml and 200ml <br>
                 Best before 2 month of packing 
                
            </p>
        </div>
            <mat-action-row>
                <button mat-button color="primary" > Add to Cart </button>
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pulse
          </mat-panel-title>
          <mat-panel-description>
             Chana Dal
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="desc">
            <img src="assets/pictures/pulse.jpg">
            <p>  500kg and 1kg <br>
                Best before 2 month of packing 
                
            </p>
        </div>
            <mat-action-row>
                <button mat-button color="primary" > Add to Cart </button>
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Soap
          </mat-panel-title>
          <mat-panel-description>
             santoor
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="desc">
            <img src="assets/pictures/soap.jpg">
            <p>  200mg and 300mg <br>
                Best before 6 month of packing 
                
            </p>
        </div>
            <mat-action-row>
                <button mat-button color="primary" > Add to Cart </button>
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Biscuit
          </mat-panel-title>
          <mat-panel-description>
             Good Day
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="desc">
            <img src="assets/pictures/biscuit.jpg">
            <p>  500kg and 1kg <br>
                 Best before 2 month of packing 
                
            </p>
        </div>
            <mat-action-row>
                <button mat-button color="primary" > Add to Cart </button>
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Maida
          </mat-panel-title>
          <mat-panel-description>
             Maida
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="desc">
            <img src="assets/pictures/maida.jpg">
            <p>  500kg and 1kg <br> 
                Rs30 per kg <br>
                 Best before 2 month of packing 
                
            </p>
        </div>
            <mat-action-row>
                <button mat-button color="primary" > Add to Cart </button>
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Brush
          </mat-panel-title>
          <mat-panel-description>
             Colgate
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="desc">
            <img src="assets/pictures/brush.jpg">
            <p>  500kg and 1kg <br> 
                2 month uses
                
            </p>
        </div>
            <mat-action-row>
                <button mat-button color="primary" > Add to Cart </button>
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Rice
          </mat-panel-title>
          <mat-panel-description>
             Shauhar ki pasand
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="desc">
            <img src="assets/pictures/rice.jpg">
            <p>  500kg and 1kg <br>
                 Best before 8 month of packing 
             </p>
        </div>
            <mat-action-row>
                <button mat-button color="primary" > Add to Cart </button>
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Potato
          </mat-panel-title>
          <mat-panel-description>
             Red potato
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="desc">
            <img src="assets/pictures/potato.jpg">
            <p>  500kg and 1kg <br>
                 Best before 8 month of packing 
             </p>
        </div>
            <mat-action-row>
                <button mat-button color="primary" > Add to Cart </button>
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chocolate
          </mat-panel-title>
          <mat-panel-description>
             Dairy Milk
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="desc">
            <img src="assets/pictures/chc.jpg">
            <p>  rs150 and rs70 <br>
                 Best before 8 month of packing 
             </p>
        </div>
            <mat-action-row>
                <button mat-button color="primary" > Add to Cart </button>
            </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  